.listswap-selected {
    background-color: coral;
}

.listswap-list {
    border: 1px solid;
}

.listswap-add {
    
}

.listswap-add:after {
    content: '\00a0\2192';
}

.listswap-remove {

}

.listswap-remove:before {
    content: '\2190\00a0';
}